<?xml version='1.0' encoding='utf-8'?>
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://poli-servis-jimmyarias772.g.aivencloud.com:13512/defaultdb?useSSL=true&amp;verifyServerCertificate=false&amp;serverTimezone=UTC&amp;characterEncoding=utf8&amp;allowPublicKeyRetrieval=true&amp;connectTimeout=5000&amp;socketTimeout=5000</property>
        <property name="hibernate.connection.username">avnadmin</property>
        <property name="hibernate.connection.password">AVNS_z0fh2LSeHStzFyIugpo</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.hbm2ddl.auto">none</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <mapping class="modelo.Usuario"/>
        <mapping class="modelo.Categoria"/>
        <mapping class="modelo.Servicio"/>
        <mapping class="modelo.Solicitud"/>
        <mapping class="modelo.Notificacion"/>
        <mapping class="modelo.Calificacion"/>
        <mapping class="modelo.Conversacion"/>
        <mapping class="modelo.Mensaje"/>
    </session-factory>
</hibernate-configuration>